---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";
---

<Layout title="Home | Thomas Lower Programming Guides">
  <main>
    <h1>Welcome to the<br /> Thomas Lower programming guide</h1>
    <h2>These documents will help you get started learning a new language.</h2>
    <div class="buttonContainer">
      <button onclick="location.href='/guides'"
        >Show me programming documentation</button
      ><button onclick="location.href='/tasks'"
        >Show me programming tasks</button>
    </div>
  </main>
</Layout>

<style>
  .buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
  }
</style>
