---
import Layout from "../../layouts/Layout.astro";
import "../../styles/main.css";

const tasks = await Astro.glob("../tasks/*.mdx");
---

<Layout title="Tasks | Thomas Lower Programming Guides">
  <main>
    <h1>Tasks</h1>
    <h2>These tasks will help you get started learning a new language.</h2>
    <h2>Pick a task to get started:</h2>
    <ul>
      {
        tasks.map((task) => (
            <a href={task.url}>
              {task.frontmatter.title}
            </a>
        ))
      }
    </ul>
  </main>
</Layout>
